<div class="email-signature-form__input-photo">
  <AddInputUploadFile UploadFile="@HandleUploadFile" Accept=".pdf">
    <Body>
    <div class="d-flex align-items-center justify-content-center w-100 gap-3">
      <MudIcon Icon="@Icons.Material.Filled.FileUpload"/>
      <MudText Typo="Typo.body1"><b>Carregue o pdf do formulário</b></MudText>
    </div>
    </Body>
  </AddInputUploadFile>

  <pre>@_jsonText</pre>
</div>
