.email-signature-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > .email-signature-form__input-photo {
    width: 500px;
  }

  & > .email-signature-form__contact {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.email-signature-form__input-photo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}
