@using Creatives.Screens.EmailSignatureScreen.Components.EmailSignatureForm
@using Creatives.Screens.EmailSignatureScreen.Components.EmailSignatureTemplate

<section class="d-flex flex-wrap justify-content-center align-items-center gap-5 pt-xxl-5">
  <div style="border: 1px solid #eee">
    <EmailSignatureTemplate EmailSignatureModel="_emailSignatureModel" @key="_keyImage"/>
  </div>
  <EmailSignatureForm EmailSignatureModel="_emailSignatureModel"
                      EmailSignatureModelChanged="@(model => HandleUpdateForm(emailSignatureModel: model))"/>
</section>
